# Supabase project settings (Vercel Project Settings > Environment Variables)
SUPABASE_URL=https://phbtvhbukmttbfxxanip.supabase.co/rest/v1/
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBoYnR2aGJ1a210dGJmeHhhbmlwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Njk4MjkyNSwiZXhwIjoyMTAyNTU4OTI1fQ.80vRapWpOe0OOxaaYBwQA8nZ-X44g6DqAfaoP5pe9fg
NODE_ENV=production
